In [1]:
import pandas as pd

In [2]:
df=pd.read_excel(r'C:\Users\user\Desktop\ASHISH\weather2.xlsx')

In [3]:
df

          DAY  Temperature  Windspeed      city
0  2017-01-01           32          6  new york
1  2017-01-02           36          7  new york
2  2017-01-03           28         12  new york
3  2017-01-04           33          7  new york
4  2017-01-01           90          5    mumbai
5  2017-01-02           85         12    mumbai
6  2017-01-03           87         15    mumbai
7  2017-01-04           92          5    mumbai
8  2017-01-01           45         20     paris
9  2017-01-02           50         13     paris
10 2017-01-03           54          8     paris
11 2017-01-04           42         10     paris

In [8]:
for i in df:
    print(i)

DAY
Temperature
Windspeed
city

In [13]:
for column,values in df.items():
    print(column)
    print(values)

DAY
0    2017-01-01
1    2017-01-02
2    2017-01-03
3    2017-01-04
4    2017-01-01
5    2017-01-02
6    2017-01-03
7    2017-01-04
8    2017-01-01
9    2017-01-02
10   2017-01-03
11   2017-01-04
Name: DAY, dtype: datetime64[ns]
Temperature
0     32
1     36
2     28
3     33
4     90
5     85
6     87
7     92
8     45
9     50
10    54
11    42
Name: Temperature, dtype: int64
Windspeed
0      6
1      7
2     12
3      7
4      5
5     12
6     15
7      5
8     20
9     13
10     8
11    10
Name: Windspeed, dtype: int64
city
0     new york
1     new york
2     new york
3     new york
4       mumbai
5       mumbai
6       mumbai
7       mumbai
8        paris
9        paris
10       paris
11       paris
Name: city, dtype: object

In [15]:
for index,row in df.iterrows():
    print('row',index)
    print(row)

row 0
DAY            2017-01-01 00:00:00
Temperature                     32
Windspeed                        6
city                      new york
Name: 0, dtype: object
row 1
DAY            2017-01-02 00:00:00
Temperature                     36
Windspeed                        7
city                      new york
Name: 1, dtype: object
row 2
DAY            2017-01-03 00:00:00
Temperature                     28
Windspeed                       12
city                      new york
Name: 2, dtype: object
row 3
DAY            2017-01-04 00:00:00
Temperature                     33
Windspeed                        7
city                      new york
Name: 3, dtype: object
row 4
DAY            2017-01-01 00:00:00
Temperature                     90
Windspeed                        5
city                        mumbai
Name: 4, dtype: object
row 5
DAY            2017-01-02 00:00:00
Temperature                     85
Windspeed                       12
city                        mumbai
Name: 5, dtype: object
row 6
DAY            2017-01-03 00:00:00
Temperature                     87
Windspeed                       15
city                        mumbai
Name: 6, dtype: object
row 7
DAY            2017-01-04 00:00:00
Temperature                     92
Windspeed                        5
city                        mumbai
Name: 7, dtype: object
row 8
DAY            2017-01-01 00:00:00
Temperature                     45
Windspeed                       20
city                         paris
Name: 8, dtype: object
row 9
DAY            2017-01-02 00:00:00
Temperature                     50
Windspeed                       13
city                         paris
Name: 9, dtype: object
row 10
DAY            2017-01-03 00:00:00
Temperature                     54
Windspeed                        8
city                         paris
Name: 10, dtype: object
row 11
DAY            2017-01-04 00:00:00
Temperature                     42
Windspeed                       10
city                         paris
Name: 11, dtype: object

In [16]:
def square(x):
    return x*x

In [25]:
abc=[1,2,3,4,5]
out=list(map(square,abc))
out

[1, 4, 9, 16, 25]

In [18]:
df=pd.read_excel(r'C:\Users\user\Desktop\ASHISH\weather2.xlsx')

In [19]:
df

          DAY  Temperature  Windspeed      city
0  2017-01-01           32          6  new york
1  2017-01-02           36          7  new york
2  2017-01-03           28         12  new york
3  2017-01-04           33          7  new york
4  2017-01-01           90          5    mumbai
5  2017-01-02           85         12    mumbai
6  2017-01-03           87         15    mumbai
7  2017-01-04           92          5    mumbai
8  2017-01-01           45         20     paris
9  2017-01-02           50         13     paris
10 2017-01-03           54          8     paris
11 2017-01-04           42         10     paris

In [24]:
df[['Temperature','Windspeed']].applymap(square)

    Temperature  Windspeed
0          1024         36
1          1296         49
2           784        144
3          1089         49
4          8100         25
5          7225        144
6          7569        225
7          8464         25
8          2025        400
9          2500        169
10         2916         64
11         1764        100

In [26]:
df[['Temperature','Windspeed']].applymap(lambda x:x*x)

    Temperature  Windspeed
0          1024         36
1          1296         49
2           784        144
3          1089         49
4          8100         25
5          7225        144
6          7569        225
7          8464         25
8          2025        400
9          2500        169
10         2916         64
11         1764        100

In [27]:
df['Temperature'].map(lambda x:x*x)

0     1024
1     1296
2      784
3     1089
4     8100
5     7225
6     7569
7     8464
8     2025
9     2500
10    2916
11    1764
Name: Temperature, dtype: int64

In [30]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
query='select*from dept'

In [32]:
import mysql.connector

In [36]:
mydb = mysql.connector.connect(host="localhost", user="root",passwd="KOLIPCS")

In [40]:
mycursor=mydb.cursor()

In [41]:
mycursor.execute("show databases;")

In [42]:
for i in mycursor:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [43]:
pip install scipy

Requirement already satisfied: scipy in c:\users\user\anaconda3\lib\site-packages (1.11.1)
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in c:\users\user\anaconda3\lib\site-packages (from scipy) (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [44]:
from scipy import constants

In [47]:
print(constants.pi)

3.141592653589793

In [48]:
dir()

['In',
 'Out',
 '_',
 '_17',
 '_19',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_3',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_exit_code',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'abc',
 'column',
 'constants',
 'df',
 'exit',
 'get_ipython',
 'i',
 'index',
 'mycurcer',
 'mycursor',
 'mydb',
 'mysql',
 'open',
 'out',
 'pd',
 'query',
 'quit',
 'row',
 'square',
 'values']

In [49]:
print(dir(constants))

['Avogadro', 'Boltzmann', 'Btu', 'Btu_IT', 'Btu_th', 'ConstantWarning', 'G', 'Julian_year', 'N_A', 'Planck', 'R', 'Rydberg', 'Stefan_Boltzmann', 'Wien', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_codata', '_constants', '_obsolete_constants', 'acre', 'alpha', 'angstrom', 'arcmin', 'arcminute', 'arcsec', 'arcsecond', 'astronomical_unit', 'atm', 'atmosphere', 'atomic_mass', 'atto', 'au', 'bar', 'barrel', 'bbl', 'blob', 'c', 'calorie', 'calorie_IT', 'calorie_th', 'carat', 'centi', 'codata', 'constants', 'convert_temperature', 'day', 'deci', 'degree', 'degree_Fahrenheit', 'deka', 'dyn', 'dyne', 'e', 'eV', 'electron_mass', 'electron_volt', 'elementary_charge', 'epsilon_0', 'erg', 'exa', 'exbi', 'femto', 'fermi', 'find', 'fine_structure', 'fluid_ounce', 'fluid_ounce_US', 'fluid_ounce_imp', 'foot', 'g', 'gallon', 'gallon_US', 'gallon_imp', 'gas_constant', 'gibi', 'giga', 'golden', 'golden_ratio', 'grain', 'gram', 'gravitational_constant', 'h', 'hbar', 'hectare', 'hecto', 'horsepower', 'hour', 'hp', 'inch', 'k', 'kgf', 'kibi', 'kilo', 'kilogram_force', 'kmh', 'knot', 'lambda2nu', 'lb', 'lbf', 'light_year', 'liter', 'litre', 'long_ton', 'm_e', 'm_n', 'm_p', 'm_u', 'mach', 'mebi', 'mega', 'metric_ton', 'micro', 'micron', 'mil', 'mile', 'milli', 'minute', 'mmHg', 'mph', 'mu_0', 'nano', 'nautical_mile', 'neutron_mass', 'nu2lambda', 'ounce', 'oz', 'parsec', 'pebi', 'peta', 'physical_constants', 'pi', 'pico', 'point', 'pound', 'pound_force', 'precision', 'proton_mass', 'psi', 'pt', 'quecto', 'quetta', 'ronna', 'ronto', 'short_ton', 'sigma', 'slinch', 'slug', 'speed_of_light', 'speed_of_sound', 'stone', 'survey_foot', 'survey_mile', 'tebi', 'tera', 'test', 'ton_TNT', 'torr', 'troy_ounce', 'troy_pound', 'u', 'unit', 'value', 'week', 'yard', 'year', 'yobi', 'yocto', 'yotta', 'zebi', 'zepto', 'zero_Celsius', 'zetta']

In [50]:
print(constants.yotta)

1e+24

In [51]:
print(constants.zetta)

1e+21

In [52]:
print(constants.exa)

1e+18

In [53]:
print(constants.peta)

1000000000000000.0

In [54]:
print(constants.tera)

1000000000000.0

In [55]:
print(constants.giga)

1000000000.0

In [56]:
print(constants.mega)

1000000.0

In [57]:
print(constants.kilo)

1000.0

In [58]:
print(constants.hecto)

100.0

In [59]:
print(constants.deka)

10.0

In [60]:
print(constants.deci)

0.1

In [61]:
print(constants.centi)

0.01

In [62]:
print(constants.milli)

0.001

In [63]:
print(constants.micro)

1e-06

In [64]:
print(constants.nano)

1e-09

In [65]:
print(constants.pico)

1e-12

In [66]:
print(constants.femto)

1e-15

In [67]:
print(constants.atto)

1e-18

In [68]:
print(constants.zepto)

1e-21